body{
	background: rgb(83, 81, 81);
}
.container{
	background: linear-gradient(90deg, grey, rgb(114, 105, 56));
}
.cart{
	margin: 100px 0;
	background: linear-gradient(150deg, tomato, gray);
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: rgb(128, 112, 112);
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}
#purchase-area{
	display: none;
	width: 800px;
	height: 200px;
	margin: 250px;
	padding: 50px;
	text-align: center;
	background: linear-gradient(90deg, tomato, gray);
}
